.alt-header {
  color: var(--color);
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.alt-header__column {
  width: 33%;
}
.alt-header__title {
  font-size: 30px;
  font-weight: 600;
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  text-align: center;
  position: relative;
  right: 50px;
}
.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 15px;
}
.alt-header__column span:last-child {
  margin-left: 20px;
}

/*chat screen*/
#chat-screen {
  background-image: url(../../photo/note.png);
  background-size: 100% 100%;
  background-color: rgba(174, 169, 163, 0.752);
}
#chat-screen__box {
  margin-top: 35px;

  height: 1000vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#chat-screen__box::-webkit-scrollbar {
  display: none;
}

.chat__timestamp {
  margin-top: 10px;
  color: white;
  height: fit-content;
  background-color: rgba(101, 88, 67, 0.719);
  padding: 8px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  color: var(--color);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-right: 15px;
}
.message__author {
  display: block;
  opacity: 0.8;
  font-size: 18px;
  margin-bottom: 3px;
}
.message__bubble {
  font-family: "Do Hyeon", sans-serif;
  background-color: rgb(255, 235, 205);
  font-size: 18px;
  padding: 10px 8px 8px 8px;
  border-radius: 15px;
  margin-right: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.642) 0px 5px 10px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--color);
  color: rgb(242, 214, 189);
  margin-left: 5px;
  margin-right: 0;
  box-shadow: rgba(0, 0, 0, 0.642) 0px 5px 10px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}
.reply,
.reply__column:first-child {
  width: 10%;
}
.reply,
.reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  height: 30px;
  width: 100%;
  padding-left: 15px;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -5px;
  bottom: 5px;
}
.reply__column:last-child > i {
  position: absolute;
  right: 40px;
  bottom: 7px;
}

.reply__column button {
  background: none;
  border: none;
}
.reply__column i {
  font-size: 25px;
  color: var(--color);
}

.reply__column input:focus,
.reply__column input:active {
  outline: none;
}
.bubble__photo {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-bottom: 25px;
}
.bubble__img {
  background-color: var(--color);
  padding: 10px;
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.642) 0px 5px 10px;
}
.bubble__img img {
  border: none;
  width: 130px;
  height: 250px;
}
.bubble__time {
  color: var(--color);
  opacity: 0.8;
  font-size: 13px;
  margin-right: 5px;
}
