#chat-screen {
  background-color: rgb(250, 255, 100);
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(250, 255, 100);
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadein {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadein 0.3s linear;
}
.chat__timestamp {
  color: white;
  background-color: rgb(195, 199, 87);
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.message__author {
  display: flex;
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 8px 13px;
  font-size: 17px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message__time {
  opacity: 0.8;
  font-size: 12px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: rgb(164, 210, 57);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.message-row--own .message__time {
  order: 0;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: transform all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}
.reply input::placeholder {
  padding: 5px;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -15px;
  top: 2px;
}
.reply__column:last-child i {
  right: 25px;
  top: 10px;
}
.reply i {
  opacity: 0.5;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-grin-squint,
.reply button .reply:focus-within {
  transition: opacity 0.3s ease-in-out;
}
.reply__column:first-child {
  opacity: 0;
  visibility: hidden;
}

.reply:focus-within .fa-grin-squint,
.reply:focus-within button {
  opacity: 0;
}

.refly input:focus {
  width: 95vw;
  transform: translateX(-13%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
