.drum__box {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-image: url(../../photo/craft.png);
  background-size: 100% 100%;
  width: 410px;
  height: 480px;
  padding: 50px 40px;
  justify-content: space-evenly;
  overflow: scroll;
}

.drum__box::-webkit-scrollbar {
  display: none;
}

.drum__box a {
  height: 90px;
  margin-bottom: 15px;
}
.drum__box img {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.46) 0px 0px 10px 0px,
    rgba(0, 0, 0, 0.392) 0px 0px 5px 0px;
}
