.follower {
  color: var(--color);
  margin-top: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 340px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgb(182, 163, 151) 3px 3px 6px 0px inset,
    rgba(70, 53, 38, 0.5) -3px -3px 6px 1px inset;
  overflow: scroll;
}
.follower::-webkit-scrollbar {
  display: none;
}
.follower section {
  display: flex;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(105, 84, 61, 0.429);
}
.follower-info {
  display: flex;
  flex-direction: column;
}
.follower-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
}

.follower_name {
  font-size: 22px;
  background-color: rgba(74, 55, 39, 0.381);
  margin-bottom: 5px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 15px;
  width: fit-content;
}
.follower_name {
  font-size: 17px;
}
